In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you created and saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rundu,NaN,2022-07-12 14:19:14,-17.9333,19.7667,79.09,19,1,8.41
1,1,Ribeira Grande,PT,2022-07-12 14:19:15,38.5167,-28.7000,75.60,73,20,9.22
2,2,Hobart,AU,2022-07-12 14:15:34,-42.8794,147.3294,46.26,88,40,9.22
3,3,Tacuati,PY,2022-07-12 14:19:16,-23.4500,-56.5833,60.73,71,78,6.67
4,4,Ushuaia,AR,2022-07-12 14:15:04,-54.8000,-68.3000,37.06,87,100,13.80

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# Create the heatmap for the maximum temperature.

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
# fig

In [5]:
# Heatmap of temperature
# Get the latitude and longigude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longigude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature
# Get the latitude and longigude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable and adjust the heatmap zoom, intensity and point radius.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Create a heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create a heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create a heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rundu,NaN,2022-07-12 14:19:14,-17.9333,19.7667,79.09,19,1,8.41
1,1,Ribeira Grande,PT,2022-07-12 14:19:15,38.5167,-28.7000,75.60,73,20,9.22
8,8,Padang,ID,2022-07-12 14:19:24,-0.9492,100.3543,77.97,89,79,4.03
12,12,Westport,US,2022-07-12 14:19:29,41.1415,-73.3579,82.09,74,0,9.22
13,13,Atuona,PF,2022-07-12 14:19:30,-9.8000,-139.0333,77.18,77,15,17.40
14,14,Rovnoye,RU,2022-07-12 14:15:13,50.7765,46.0509,82.63,49,0,10.22
16,16,Urucara,BR,2022-07-12 14:19:34,-2.5364,-57.7600,88.61,52,91,4.90
18,18,Jiazi,CN,2022-07-12 14:19:37,22.8779,116.0670,82.04,86,22,4.61
19,19,Rincon,US,2022-07-12 14:19:37,32.2960,-81.2354,83.86,91,100,4.61
26,26,Wattegama,LK,2022-07-12 14:19:43,6.7989,81.4808,81.57,58,8,13.02

In [23]:
preferred_cities_df.count()

City_ID       245
City          245
Country       244
Date          245
Lat           245
Lng           245
Max Temp      245
Humidity      245
Cloudiness    245
Wind Speed    245
dtype: int64

In [28]:
preferred_cities_df = preferred_cities_df.dropna()

In [29]:
preferred_cities_df.count()

City_ID       244
City          244
Country       244
Date          244
Lat           244
Lng           244
Max Temp      244
Humidity      244
Cloudiness    244
Wind Speed    244
dtype: int64

In [30]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Ribeira Grande      PT     75.60  38.5167  -28.7000
8           Padang      ID     77.97  -0.9492  100.3543
12        Westport      US     82.09  41.1415  -73.3579
13          Atuona      PF     77.18  -9.8000 -139.0333
14         Rovnoye      RU     82.63  50.7765   46.0509
16         Urucara      BR     88.61  -2.5364  -57.7600
18           Jiazi      CN     82.04  22.8779  116.0670
19          Rincon      US     83.86  32.2960  -81.2354
26       Wattegama      LK     81.57   6.7989   81.4808
28        Sangueya      GN     83.25  10.7000  -14.3667

In [32]:
# Make API request for hotel search data

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng            Hotel Name
1   Ribeira Grande      PT     75.60  38.5167  -28.7000   Quinta da Meia Eira
8           Padang      ID     77.97  -0.9492  100.3543        Mercure Padang
12        Westport      US     82.09  41.1415  -73.3579      The Westport Inn
13          Atuona      PF     77.18  -9.8000 -139.0333           Villa Enata
14         Rovnoye      RU     82.63  50.7765   46.0509
16         Urucara      BR     88.61  -2.5364  -57.7600  Pousada Maria Bonita
18           Jiazi      CN     82.04  22.8779  116.0670         Hotel Jin Hao
19          Rincon      US     83.86  32.2960  -81.2354       Days Inn Rincon
26       Wattegama      LK     81.57   6.7989   81.4808
28        Sangueya      GN     83.25  10.7000  -14.3667

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))